.mainContainer {
  width: 600px;
  text-align: center;
  background-color: rgb(152, 215, 240);
  padding: 20px;
  box-shadow: 1px 1px 16px -8px rgba(0, 0, 0, 0.75);
}

.inputbox {
  text-align: left;
}

.inputbox h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.inputbox p {
  font-size: 15px;
  padding: 10px 0px;
}

form {
  display: flex;
  justify-content: center;
}

form input {
  flex: 1;
  height: 30px;
  padding: 0px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid gray;
}
form input:hover {
  border: 1px solid rgb(49, 181, 233);
}

form button {
  height: 31px;
  padding: 0px 20px;
  background-color: rgb(4, 158, 230);
  border: none;
  font-size: 16px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

form button:hover {
  color: rgb(249, 252, 253);
}
.inputbox h3 {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}
.inputbox {
  text-align: left;
}
.mainContainer ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}
.clearAllContainer {
  text-align: center;
  margin-top: 20px;
}

.clearAll {
  padding: 5px 15px;
  cursor: pointer;
  background-color: rgb(16, 167, 227);
  border: 2px solid rgb(13, 117, 197);
  padding: 10px 40px;
  border-radius: 20px;
}
.clearAll:hover {
  color: rgb(249, 252, 253);
  border: 2px solid black;
  transform: scale(0.98);
}
